body {
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 200px;
}


button {
    cursor: pointer;
    outline: unset;
    border: unset;
    color: #ffffff;
    padding: 1rem 1.5rem;
    background-color: black;
    transition: transform 0.1s ease, background-color 0.2s ease;
}

button:hover {
    opacity: 7;
    transition: all 0.4s;
    background-color: hsla(0, 0%, 0%, 0.5);
}

button:focus,
button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}