* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Special Gothic", sans-serif;
    margin: 1rem;
}

.grid-container>div {
    background-color: #eee;
    padding: 1em;
}

.grid-container>div:nth-child(odd) {
    background-color: #ddd;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.box1 {
    align-self: start;
}

.box2 {
    align-self: end;
}

.box3 {
    justify-self: end;
}

.box4 {}

@media (max-width: 1120px) {}

@media (max-width: 580px) {}