* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    border-bottom: 1px solid rgba(33, 36, 44, 0.16);
    height: 62px;
    justify-content: space-around;
    align-items: center;
}

nav div:first-of-type {
    display: flex;
    align-items: center;
}

nav input[type="search"] {
    width: 200px;
    background: transparent;
    height: 40px;
    padding-inline: 16px;
    cursor: pointer;
    border: 1px solid #909296;
    border-radius: 4px;
    margin-left: 100px;
}

nav input[type="search"]:hover {
    border: 2px solid #1865f2;
}


nav input::placeholder {
    padding-left: 25px;
    color: #1865f2;
    font-weight: 700;
    font-family: Lato, "Noto Sans", sans-serif;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color: #1865f2;
    font-weight: 700;
    font-size: 16px;
}

nav div:first-of-type div:nth-child(1) img {
    width: 16px;
    height: 16px;
}

nav div:first-of-type div:nth-child(2) {
    position: absolute;
}

nav div:first-of-type div:nth-child(2) img {
    width: 24px;
    height: 24px;
    position: relative;
    left: 140px;
}

._1rt6g9t {
    width: 175px;
    fill: rgb(10 42 102);
}

nav div:last-of-type {
    display: flex;
    align-items: center;
}

nav div:last-of-type a {
    margin-right: 20px;
}

nav div:last-of-type button {
    user-select: none;
    background: #1865f2;
    color: #ffffff;
    padding-inline: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    height: 40px;
}

main div:first-of-type img {
    height: 451px;
    width: 411px;
    object-fit: cover;
}

main {
    display: flex;
    align-items: center;
    color: #21242C;
    max-width: 1152px;
    margin: auto;
    gap: 30px;
}

main div:last-of-type {
    width: calc(100% - 40px);
    font-family: 'Source Serif Pro', 'Noto Serif', serif;
    line-height: 32px;
}

.btn button {
    user-select: none;
    background: #1865f2;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    outline: unset;
    border: unset;
    width: 150px;
    margin-right: 5px;
}