body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background-color: tomato;
}

main {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: none;
    padding: 3.5rem;
    color: rgb(86, 85, 85);
}

button {
    padding: 0.75rem 1.5rem;
    border-radius: 2.5rem;
    outline: unset;
    border: unset;
    background: transparent;
    background-color: tomato;
    color: #ffffff;
}

button:hover {
    background-color: rgb(253, 117, 93);
    cursor: pointer;
}