*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: hsl(270, 50%, 40%);
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #ffffff;
    max-width: 35rem;
    width: 100%;
    border-radius: 5px;
    padding: 1.5rem;
}

div {
    display: flex;
}

h1 {
    font-weight: normal;
    font-size: 2.5rem;
}

input,
button {
    font-family: inherit;
    border: 2px solid #8b8a8b;
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    padding: 1rem;
}

input {
    width: 70%;
}

button {
    width: 25%;
    margin-left: 15px;
    border: unset;
    background: transparent color;
    color: #fff;
    background-color: hsl(270, 50%, 40%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon {
    display: none;
}

button:hover {
    background-color: hsl(270, 55%, 51%);
}

input:focus,
button:focus {
    outline: 3px solid transparent;
    border-color: hsl(270, 50%, 40%);
    box-shadow: hsl(0, 0%, 0%);
}

label {
    display: block;
    margin-bottom: 5px;
}

li {
    margin-bottom: 15px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    body {
        margin: 1rem;
    }

    h1 {
        text-align: center;
    }

    .btn-text {
        display: none;
    }

    .btn-icon {
        display: inline;
    }

    button {
        width: 22%;
    }
}