* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    line-height: 1.5;
}

header,
footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: blueviolet;
}

footer {
    background-color: burlywood;
}

section {
    height: 300px;
    margin-bottom: 25px;
}

.flex {
    height: 250px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 25px;
}

article:nth-child(1) {
    background-color: blue;
    width: 25%;
}

article:nth-child(2) {
    background-color: green;
    /* Just for visual distinction */
    width: 75%;
}