* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

main {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #ffffff;
}

h1 {
    font-size: 2.5rem;
}

label {
    font-size: 1.5rem;
    margin-right: 5px;
}

button,
input {
    background: transparent;
    cursor: pointer;
    outline: unset;
    border: unset;
    height: 35px;
    border: 2px #ff4e3b solid;
    padding: 1rem 1.5rem;
    border: 2px solid #ff4e3b;
    color: #ffffff;
    font-size: 24px;
}

input::placeholder {
    color: #ffffff;
    font-size: 16px;
    opacity: .5;
}

button {
    /* Dark Coral border */
    padding: 10px 20px;
    background-color: transparent;
    /* White font color */
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Smooth transition for all changes */
    border-radius: 5px;
    /* Optional: Adds rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

/* Hover effect */
button:hover {
    background-color: #ff4e3b;
    /* Dark Coral background on hover */
    color: #fff;
    /* Keep the font color white */
    transform: scale(1.05);
    /* Slightly increase the size on hover */
}

/* Active (pressed) effect */
button:active {
    background-color: #e63846;
    /* Slightly darker red on press */
    border-color: #e63846;
    /* Match the border to the background color */
    transform: scale(0.98);
    /* Slightly decrease the size when pressed */
}