/* Global reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 4vw;
}

h2 {
	font-size: 3vw;
}

h3 {
	font-size: 2vw;
}

/* hero */
.hero {
	background-color: blueviolet;
	color: #ffffff;
	height: 50vh;
}

.hero a {
	color: inherit;
}

/* social links */
ul {
	display: inline-flex;
	gap: 25px;
	list-style-type: none;
	margin-top: 1em;
}

.social-link {
	padding: .5em 1em;
	font-weight: 600;
}

.social-link:hover {
	background: rgba(150, 150, 150, 0.5);
}

/* Bio styles */
.bio-wrapper::after {
	font-size: 1vw;
	line-height: 1.6;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.bio-box {
	border: 1px solid black;
	float: left;
	width: 25%;
	padding: 2%;
	margin-bottom: 2em;
}

.clear-left {
	clear: left;
}