* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://unsplash.it/1500/1000?image=881&blur=5');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 275px;
    width: 275px;
    border-radius: 50%;
    border: 1rem solid #ffffff;
}

.hand {
    height: 6px;
    width: 50%;
    background-color: black;
}

.min-hand {
    background-color: rgb(27, 27, 27);
    height: 4px;
}

.second-hand {
    background-color: red;
    height: 2px;
}