body {
	background-color: rgb(167, 65, 245);
	color: #ffffff;
}

ul,
a {
	color: inherit;
	list-style-type: none;
	text-decoration: none;
}

div {
	border: 1px solid #ffffff;
	margin-bottom: 5em;
}

button {
	background-color: gray;
	border: 1px solid black;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: "proxima-nova", "Proxima Nova",
		sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.15em;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.1s linear;
}