#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  border: 2px solid black;
  padding: 2rem;
}

button,
input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #1a1a1a;
}

input {
  margin-bottom: 1rem;
}