/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

body {
    background: linear-gradient(to right, rgba(1, 141, 237, 0.7), rgba(0, 181, 226, 0.7)), url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'helvetica neue';
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 2rem;
}

main {
    width: 30rem;
    height: 30rem;
    border: 20px solid #ffffff;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2);
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    /* transform: rotate(90deg); */
    /* transition: all 0.05s; */
    /* transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); */
}

/* From chat GPT */
.center-point {
    width: 15px;
    /* Set the width of the center point */
    height: 15px;
    /* Set the height of the center point */
    background-color: black;
    /* Set the color of the center point */
    border-radius: 50%;
    /* Make it a circle */
    position: absolute;
    /* Position it absolutely within the section */
    top: 50%;
    /* Center it vertically */
    left: 50%;
    /* Center it horizontally */
    transform: translate(-50%, -50%);
    /* Adjust position to perfectly center */
    z-index: 1;
}

.center-point div {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: unset;
    outline: unset;
}