* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", sans-serif;
}

main {
    max-width: 50%;
    margin: 2rem auto 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 400;
    margin-bottom: 5px;
}

h1 {
    font-size: 3.25rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
}

.fas {
    margin-right: 15px;
}

.fas,
span {
    color: #008cba;
}

input {
    outline: unset;
    border: unset;
    border: 1px solid #008cba;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 2.5px;
    padding: 1rem;
    font-size: 1.25rem;
}

input:hover,
input:focus,
input:active {
    outline: 2px solid #008cba;

}

.btn-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
}

button:last-of-type {
    background-color: #f04124;
}

button:last-of-type:hover {
    background-color: #f15539;
}

button {
    background-color: #008cba;
    outline: unset;
    border: unset;
    color: #ffffff;
    transition: all 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 40px;
    border-radius: 2.5px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 1.25rem;
    width: 48%;
}

button:hover,
button:focus {
    background-color: #2a90b3;
    cursor: pointer;
}

button:active {
    transform: scale(0.96);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

table {
    margin-top: 25px;
    width: 100%;
}

th,
td {
    padding: .5rem 1rem;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    color: #008cba;
}