* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: hsl(328, 90%, 55%);
    color: #ffffff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input::placeholder {
    color: #ffffff;
}

header input {
    color: #ffffff;
    font-size: 1rem;
}

h1 {
    width: 100%;
}

h2 {
    color: rgb(22, 21, 21);
}

header,
div,
h2 {
    margin-bottom: 15px;
}

.wrapper {
    max-width: 640px;
    margin: 1rem auto 0 auto;
}

main {
    width: 90%;
    padding: 2.5rem;
    border: 1px solid rgb(22, 21, 21);
    border-radius: 8px;
}

input,
button,
li {
    height: 40px;
    padding: 1rem;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
}

svg {
    cursor: pointer;
    margin-left: auto;
}

svg:hover {
    background-color: red;
    fill: #ffffff;
}

main div {
    display: flex;
    gap: 15px;
}

main input,
main li,
header input {
    border: 1px solid hsl(209, 50%, 87%);
    width: 100%;
}

input,
button {
    background: transparent;
    outline: unset;
    border: unset;
    border-radius: 2.5px;
    cursor: pointer;
    font-family: inherit;
}

button {
    background-color: hsl(0, 5%, 4%);
    color: hsl(0, 0%, 100%);
    width: 100px;
    display: flex;
    align-items: center;
    width: 125px;
    justify-content: center;
}

button:hover {
    background-color: hsl(0, 2%, 11%);
}