/* From https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

/* button */
button {
    appearance: none;
    margin: 0px;
    padding: 0px;
    background: none;
    border-radius: 0px;
    border: 0px;
    font-family: inherit;
    color: inherit;
}

/* header */
header {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 65px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(230, 232, 234);
    z-index: 4000;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 16px;
}

header .bbc svg {
    height: 30px;
    width: auto;
}

header div:first-of-type {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
}

header div:first-of-type svg {
    cursor: pointer;
    height: 32px;
}

header div:first-of-type svg:last-of-type {
    margin-left: 16px;
}

header .bbc {
    flex: 1 1 0%;
    height: 32px;
}

header .btn {
    display: flex;
    justify-content: end;
    gap: 20px;
    height: 32px;
}

header .btn button {
    text-decoration: none;
    cursor: pointer;
    color: unset;
    border: 2px solid transparent;
    outline: transparent solid 2px;
    display: flex;
    flex-direction: row;
    gap: 9.3px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 6px 12px;
    font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

header .btn button:first-of-type {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    outline-color: rgb(0, 0, 0);
}

header .btn button:first-of-type:hover {
    background-color: #3A3C3E;
}

header .btn button:last-of-type {
    background-color: transparent;
    color: rgb(0, 0, 0);
}

header .btn button:last-of-type:hover {
    background-color: rgb(58, 60, 62);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(58, 60, 62);
    outline: rgb(58, 60, 62) solid 2px;
}

/* nav */
nav {
    z-index: 3000;
    position: sticky;
    background-color: rgb(255, 255, 255);
    top: 65.6667px;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid rgb(230, 232, 234);
}

nav ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    align-self: center;
    margin-left: 26%;
}

nav ul li a {
    display: block;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 12px 8px;
    font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

nav ul li a:hover {
    background-color: #E6E8EA;
}

nav ul li:first-of-type a {
    border-bottom: 4px solid rgb(0, 0, 0);
}

/* img */

img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

/* main */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 12px auto;
    gap: 16px;
    max-width: 1280px;
}

main section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
    max-width: 1279px;
}

main section .left div {
    display: grid;
    border-bottom: 1px solid rgb(230, 232, 234);
    grid-template-columns: 1fr;
    -webkit-box-align: start;
    align-items: start;
    gap: 12px;
    padding-bottom: 4px;
}

main section .left div .card-description {
    font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: rgb(32, 34, 36);
    margin-bottom: 4px;
    display: block;
}

h2 {
    color: rgb(32, 34, 36);
    font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.36px;
    width: 100%;
}

span {
    font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.12px;
    color: rgb(84, 86, 88);
}

section .center div:nth-child(2) {
    gap: 12px;
    display: grid;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
}

section .center .live {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
}

section .center .live span {
    font-size: 24px;
    color: red;
}

aside {
    border-bottom: 1px solid rgb(230, 232, 234);
    position: relative;
    gap: 8px;
    display: grid;
}

section .center p,
aside p {
    font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: rgb(32, 34, 36);
    margin-bottom: 4px;
}

aside .video div svg {
    color: rgb(32, 34, 36);
    align-items: center;
    padding-left: 2px;
    height: auto;
    width: auto;
    float: left;
}

/* Media query for tablets */
@media (min-width: 600px) and (max-width: 1024px) {

    body {
        background-color: lightblue;
    }

    main {
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
    }

    .center {
        width: 90%;
    }

    section {
        width: 80%;
        padding: 2.5rem;
        display: flex;
    }

    .left {
        margin-right: 50px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
    }

    aside {
        width: 90%;
        margin: auto;
    }

}

/* Media query for mobile devices */
@media (max-width: 767px) {

    body {
        background-color: lightgreen;
        overflow: hidden;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    }

    section .left {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
        margin: auto;
    }


}