* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 65px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(230, 232, 234);
    z-index: 4000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 0%;
    padding: 12px 16px;
}

header .search {
    display: flex;
    justify-content: start;
}

header .search svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

header .search svg:last-of-type {
    margin-left: 16px;
}

header .bbc {
    display: block;
    height: 28px;
    fill: rgb(0, 0, 0);
    cursor: pointer;
}

header .btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    height: 40px;
    cursor: pointer;
    border: 2px solid transparent;
    outline: transparent solid 2px;
    box-sizing: border-box;
    padding: 6px 12px;
    font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}

header .btn a {
    text-decoration: none;
    border: none;
    padding: 12px 20px;
}

header .btn a:first-of-type {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    outline-color: rgb(0, 0, 0);
}

header .btn a:first-of-type:hover {
    background-color: #3A3C3E;
}

header .btn a:last-of-type {
    color: rgb(0, 0, 0);
}

header .btn a:last-of-type:hover {
    background-color: #3A3C3E;
    color: #ffffff;
}

/* nav */
nav {}