* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: #ffffff;
}

main {
    height: calc(100vh - 35vh);
    margin: auto;
}

section {
    width: 30%;
    background-color: rgb(126, 185, 236);
    float: right;
    height: 500px;
    margin-right: 40px;
    margin-top: 15px;
}

header,
footer {
    height: 150px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}