body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

main {
    display: flex;
    gap: 15px;
}

div {
    height: 150px;
    width: 150px;
    outline: unset;
    border: unset;
}

div:first-of-type {
    background-color: blueviolet;
}

div:nth-of-type(2) {
    background-color: cadetblue;
}

div:last-of-type {
    background-color: coral;
}