* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0E0E0E;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 15px;
}

.container {
    border: 4px salmon solid;
    background-color: aquamarine;
    max-width: 50%;
    padding: 2.5rem;
    margin: auto;
}

main div {
    display: flex;
    margin: auto;
}

main div:last-of-type div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

main div:last-of-type div p {
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 15px;
}

main div:last-of-type img {
    width: 250px;
    height: auto;
    object-fit: cover;
}

main div p {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}


footer {
    text-align: center;
}

header a:not(a:last-of-type),
footer a:not(a:last-of-type) {
    border-right: 2px salmon solid;
    margin-right: 5px;
    padding-right: 5px;
}