/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    border-radius: 50%;
    border: 6px solid #ffffff;
    height: 15rem;
    width: 15rem;
}